{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Testing the Asset Pipeline!</h1>
        <p>Say hello to Skeletor!</p>

        <div class="skeletor" style="height: 200px; width: 200px;"></div>
    </div>
{% endblock %}
