body {
    background: lightskyblue;
}
.container {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
.skeletor {
    background-image: url(../images/skeletor.jpg);
    background-size: cover;
    background-position: center;
}
