/* importing other CSS files works fine *
/* this path will be updated to point to the real file in the final CSS */
/* e.g. @import url(/assets/more-styles.abc123.css); */
@import url(more-styles.css);

body {
    background: lightskyblue;
}
.container {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
